<form class="form-style-1">
    <div>
        <ul>
            <li>
                <label>Tipo:</label>
                <select name="field4" class="field-select">
                <option value="CHAT">Chat</option>
                <option value="E-mail">E-mail</option>
                <option value="Reclamações">Reclamações</option>
                </select>
            </li>
            <li>
                <label>Estado: <span class="required">*</span></label>
                <input [(ngModel)]="issue.state" placeholder="Estado de origem" class="field-long">
            </li>
            <li>
                <label>Motivo de abertura:</label>
                <select name="field4" class="field-select">
                <option value="Elogios">Elogios</option>
                <option value="Sugestões">Sugestões</option>
                <option value="Reclamações">Reclamações</option>
                </select>
            </li>
            <li>
                <label>Descrição: <span class="required">*</span></label>
                <input [(ngModel)]="issue.description" placeholder="Descrição da issue" class="field-long">
            </li>
            <li>
                <button (click)="saveIssue()">Salvar</button>
            </li>
        </ul>
        
    </div>
</form>